/*
!/.bash_profile
!/.bashrc
!/.clang-format
!/.editorconfig
!/.gitconfig
!/.gitignore
!/mimeapps.list
!/.p10k.zsh
!/.prettierrc.json
!/userstyle.less
!/.zshrc

!/bat/
!/bottom/
!/cava/
!/clangd/
!/dunst/
/dunst/*
!/dunst/dunst.conf
!/dunst/dunstrc
!/emmylua_ls/
!/fastfetch/
!/ghostty/
!/gowall/
!/hyde/
!/hypr/
!/kanata/
!/kitty/
!/lazydocker/
!/lazygit/
!/nvim/
!/quickshell/
!/rofi/
!/swappy/
/systemd/*
/systemd/user/default.target.wants
/systemd/user/sockets.target.wants
!/tg/
!/tmux/
!/vesktop/
/vesktop/*
!/vesktop/settings/
!/vesktop/settings.json
!/vesktop/state.json
!/vesktop/themes/
!/waybar/
!/wireplumber/
!/yazi/
!/yt-dlg/
