/*
!/.bash_profile
!/.bashrc
!/.clang-format
!/.editorconfig
!/.gitconfig
!/.gitignore
!/.p10k.zsh
!/.prettierrc.json
!/.zshrc
!/.bash_profile
!/.bashrc
!/mimeapps.list
!/db.zo
!/import.json
!/userstyle.less

!/bat/
!/bottom/
!/cava/
!/chrome/
!/clangd/
!/dunst/
!/emmylua_ls/
!/fastfetch/
!/ghostty/
!/gowall/
!/hyde/
!/hypr/
!/kanata/
!/kitty/
!/lazydocker/
!/lazygit/
!/nvim/
!/quickshell/
!/rofi/
!/swappy/
!/sway/
!/systemd/
!/tg/
!/tmux/
!/vesktop/themes/
!/waybar/
!/wireplumber/
!/yazi/
!/yt-dlg/
!/zathura/
!/fkz4av6o.default-default/chrome
!/fkz4av6o.default-default/prefs.js
!/fkz4av6o.default-default/user.js
