/* @import url("chrome/autoHideTabd.css"); */
/* @import url("chrome/autoHideNavButtons.css"); */

/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/autohide_tabstoolbar_v2.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Requires Firefox 133 */

:root {
  --uc-tabs-hide-animation-duration: 48ms;
  --uc-tabs-hide-animation-delay: 200ms;
}

@media (-moz-bool-pref: "sidebar.verticalTabs"),
  -moz-pref("sidebar.verticalTabs") {
  #sidebar-main {
    overflow: visible !important;
    max-width: var(--tab-collapsed-width) !important;
    z-index: var(--browser-area-z-index-toolbox-while-animating);
    transition: z-index 0s linear var(--uc-tabs-hide-duration);
    background: inherit;
  }
  sidebar-main {
    --tab-pinned-horizontal-count: 5; /* This needs to match whatever is used in sidebar-main.css - currently 5 */
    background: inherit;
    overflow: hidden;
    min-width: var(--tab-collapsed-width);
    transition: min-width var(--uc-tabs-hide-animation-duration) ease-out
      var(--uc-tabs-hide-animation-delay);
    border-inline: 0.01px solid var(--chrome-content-separator-color);
    border-inline-width: 0 0.01px;
    &:is([sidebar-positionend], [positionend]) {
      transition-property: min-width, transform;
      border-inline-width: 0.01px 0;
    }
  }
  sidebar-main:hover {
    min-width: calc(
      var(--tab-pinned-horizontal-count) *
        var(--tab-pinned-min-width-expanded) + 2 *
        var(--tab-pinned-container-margin-inline-expanded) + 1px
    );
    transition-delay: 0ms !important;
    &:is([sidebar-positionend], [positionend]) {
      transform: translateX(calc(var(--tab-collapsed-width) - 100%));
    }
  }
  #sidebar-wrapper {
    background: inherit;
  }
}
@media not (-moz-bool-pref: "sidebar.verticalTabs"),
  not -moz-pref("sidebar.verticalTabs") {
  :root:not([customizing], [chromehidden~="menubar"]) #navigator-toolbox:hover,
  :root:not([customizing], [chromehidden~="menubar"]) #TabsToolbar {
    margin-bottom: calc(
      0px - 2 * var(--tab-block-margin) - var(--tab-min-height)
    );
  }
  #navigator-toolbox {
    transition: margin-bottom var(--uc-tabs-hide-animation-duration) ease-out
      var(--uc-tabs-hide-animation-delay) !important;
    --browser-area-z-index-toolbox: 3;
  }
  #TabsToolbar:not([customizing]) {
    visibility: hidden;
    transition:
      visibility 0ms linear var(--uc-tabs-hide-animation-delay),
      margin-bottom var(--uc-tabs-hide-animation-duration) ease-out
        var(--uc-tabs-hide-animation-delay) !important;
  }
  #navigator-toolbox:is(:hover, [movingtab]) {
    transition-delay: 0s !important;
    > #TabsToolbar {
      visibility: visible;
      margin-bottom: 0px;
      transition-delay: 18ms, 0ms !important;
    }
  }
  @media (-moz-bool-pref: "userchrome.autohidetabs.show-while-inactive.enabled"),
    -moz-pref("userchrome.autohidetabs.show-while-inactive.enabled") {
    #navigator-toolbox:-moz-window-inactive {
      margin-bottom: calc(
        0px - 2 * var(--tab-block-margin) - var(--tab-min-height)
      );
      > #TabsToolbar {
        visibility: visible;
        margin-bottom: 0px;
      }
    }
  }
  /* These rules make sure that height of tabs toolbar doesn't exceed tab-min-height */
  #tabbrowser-tabs:not([secondarytext-unsupported]) .tab-label-container {
    max-height: var(--tab-min-height);
  }
  .tab-label {
    line-height: 16px !important;
  }
  :root[uidensity="compact"] .tab-label {
    line-height: 16px !important;
  }
}

:is(#back-button, #forward-button),
#reload-button {
  margin-inline-start: -34px !important;
  visibility: hidden;
  transition: margin 66ms linear !important;
}

:is(#back-button, #forward-button):hover,
:is(#back-button, #forward-button):hover
  ~ :is(#back-button, #stop-reload-button, #forward-button),
:is(#back-button, #forward-button):hover ~ #stop-reload-button > #reload-button,
#urlbar-container + toolbarspring:hover ~ :is(#back-button, #forward-button),
#stop-reload-button:hover > #reload-button,
#urlbar-container + toolbarspring:hover ~ #stop-reload-button > #reload-button {
  margin-inline-start: 0px !important;
  visibility: visible;
}

#nav-bar-customization-target > #downloads-button {
  margin-inline-start: 0px !important;
  visibility: visible !important;
}

:is(#back-button, #forward-button)[disabled],
#stop-reload-button > [disabled] {
  display: none;
}

#urlbar-container + toolbarspring {
  max-width: 4px !important;
  min-width: 4px !important;
}

#urlbar[breakout][breakout-extend] {
  margin-left: 0 !important;
  width: var(--urlbar-width) !important;
  margin-top: calc(
    (var(--urlbar-container-height) - var(--urlbar-height)) / 2
  ) !important;
}
:where(#urlbar) > .urlbarView {
  margin-inline: 0 !important;
  width: auto !important;
}
.urlbarView-row {
  padding: 0 2px !important;
}
.urlbarView-row-inner {
  padding-inline-start: 4px !important;
}
:where(#urlbar) > .urlbar-background,
#urlbar-background {
  animation: none !important;
}
:where(#urlbar) > .urlbar-input-container {
  padding: var(--urlbar-container-padding, 0) 1px !important;
  height: var(--urlbar-height) !important;
}
#identity-icon {
  margin-block: var(--urlbar-icon-padding);
}
:where(#urlbar) > .urlbarView > .search-one-offs:not([hidden]) {
  padding-block: 0px !important;
}

@keyframes tab-loading-line-anim {
  from {
    background-position-x: left;
  }
  to {
    background-position-x: right;
  }
}
.tabbrowser-tab[busy] > .tab-stack > .tab-background::before,
.tab-background[selected]::before {
  content: "";
  display: flex;
  height: 2px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 100%;
  transition: background-size 80ms linear;
}

.tabbrowser-tab[busy] > .tab-stack > .tab-background::before {
  background-size: 10%;
  background-image: linear-gradient(currentColor, currentColor);
  opacity: 0.7;
  animation: tab-loading-line-anim 400ms alternate infinite ease-in-out;
}

.tab-throbber {
  display: none;
}
.tab-icon-image:is([src], [pinned]) {
  display: block !important;
}

findbar {
  order: -1;
  margin-bottom: -33px;
  position: relative;
  border-top: none !important;
  padding: 0 !important;
  transition:
    transform 82ms linear,
    opacity 82ms linear 32ms !important;
  background: none !important;
  pointer-events: none;
  z-index: 1;
  white-space: nowrap;
}

.findbar-container > .findbar-find-fast {
  padding: var(--toolbarbutton-inner-padding) 1px;
  margin: 0 !important;
}

findbar[hidden] {
  transform: translateY(-30px);
}

findbar > .findbar-container,
findbar > .close-icon {
  border: 1px solid var(--chrome-content-separator-color);
  border-width: 0 0 1px 0px;
  background-color: var(--lwt-accent-color, var(--toolbox-bgcolor)) !important;
  background-image:
    linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor)),
    var(--lwt-header-image, none);
  pointer-events: auto;
}

findbar > .findbar-container {
  border-bottom-right-radius: 4px;
  border-right-width: 1px;
  height: initial !important;
  margin-inline: 0px !important;
  overflow-inline: visible !important;
}

.findbar-find-status {
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}

.findbar-closebutton {
  margin: 0 !important;
  border-radius: 0 !important;
  padding: 5px !important;
  width: initial !important;
  order: -1;
}
.findbar-closebutton > image {
  padding: 3px;
}
.findbar-closebutton:hover > image {
  background: var(--toolbarbutton-hover-background) !important;
  border-radius: 4px;
}
findbar > .findbar-container > hbox {
  margin: 0 5px;
}

findbar::after {
  content: "";
  display: flex;
  flex-grow: 100;
}

@media (-moz-bool-pref: "userchrome.floating-findbar-on-right.enabled"),
  -moz-pref("userchrome.floating-findbar-on-right.enabled") {
  findbar {
    flex-direction: row-reverse;
  }
  findbar > .findbar-container {
    flex-direction: row-reverse;
    border-inline-width: 1px 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 4px;
  }
  /*
  Move findbar so it isn't over the scrollbar
  Delete if you want findbar to begin from right window edge
  */
  findbar {
    margin-right: 16px;
    border-right: 1px solid var(--chrome-content-separator-color);
  }
}

#page-action-buttons {
  padding-inline-start: 8px;
}

.urlbar-page-action {
  margin-inline-end: calc(-16px - 2 * var(--urlbar-icon-padding));
  opacity: 0;
  transition:
    margin-inline-end 100ms linear,
    opacity 200ms linear;
}

#page-action-buttons:hover > .urlbar-page-action,
.urlbar-page-action[open],
.urlbar-page-action[open] ~ .urlbar-page-action {
  opacity: 1;
  margin-inline-end: 0px !important;
}
